    div,form,input,p{margin:0;padding: 0;font-size: 12px}
    a{float: right;text-decoration: none;}
    hr{color: #FCFCFA;margin:15px 0;box-shadow: 1px 1px 2px     white;}
    .lg{width: 220px; background:#E5E8F6;padding: 5px;}
    .log-reg{margin:0 auto; width: 180px;}    
    .lpw{ vertical-align: top;}    
    .nm,.pw,#login,#reg{display:block;}
    .nm,.pw{text-align:center; width: 180px; height: 32px    ;margin: 10px 0 ;border:1px solid #D2CCF4; border-radius    :3px; font-size:14px;}
    #login,#reg{background: url(http://img.mukewang.com/539a972b00013e9102280177.jpg); width: 180px; height: 37px                        ;border-radius:4px;}
    #cb{vertical-align: middle;}
    #login{background-position: 0 0;margin: 10px 0;}
    #reg{background-position: 0px -40px;margin-bottom: 10px}
    :focus{box-shadow:0px 0px 7px #9D91DF ;border-radius:5px;}